<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\MovieDb.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="DatabaseLocation" value ="C:\Projects\MovieManager\MovieManager.DB"/>
	</appSettings>
</configuration> 